*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}    

nav{
    background-color: black;
    color: white;
}
nav ul{
    list-style:none;
    color:white;
    padding: 20px;
}
nav ul li {
    font-size:20px ;
    cursor: pointer;
}
.gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    flex-wrap: wrap-reverse;
}
.container{
    display:grid;
    grid-template-rows: repeat(3,8vw);
    grid-template-columns: repeat(3,8vw);
}
.box{
    display: flex;
    font-size: 7vw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}
.box:hover{
    background-color: #faf7fd;
}
.game-info{
    padding: 5vh;
    justify-content: center;
    align-items: center;
}

.bt-0{
    border-top: none;
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.bb-0{
    border-bottom: none;
}

.info-container{
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
    font-size: 18px;
    flex-wrap: wrap;
}
#user-turn{
    margin: 10px;
    font-size: 20px;
    width: 50%;
}
#reset{
    padding: 5px 20px;
    background-color: rgb(48, 48, 233);
    border: 2px solid rgb(71, 68, 68);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}
#reset:hover{
    color: whitesmoke;
    border-color: black;
    background-color: rgb(12, 141, 247);
}

@media screen and (max-width: 600px) {
    .container{
        display:grid;
        grid-template-rows: repeat(3,15vh);
        grid-template-columns: repeat(3,15vh);
    }
    .box-text{
        font-size: 10vh;
    }
}