body{
    padding-top: 50px;
    z-index: 0;
}
.row-header{
    margin: 0 auto;
    padding: 0; 
}
.row-content{
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    margin: 0 auto;
    padding: 20px 0;
    background-color: #b5a3d3;
}
.jumbotron{
    padding: 70px 30px;
    margin: 0 auto;
    background: #9575CD;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0;
}
footer a{
    color: rgb(25, 116, 63);
}
.tab-content{
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 2;
}
.modal-header{
    background-color: #512DA8;
    color: floralwhite;
}
.modal-header button{
    color: #ddd;
}
.modal-body{
    background-color: #9575CD;
}